#background {
	-fx-background-color: #BF9B7A;
	-fx-padding:20px;
 }
 
 .scrollBackground {

 	-fx-background:#F2E4D8;
 	-fx-background-color: #F2E4D8;
 
 }
 
 #headline{
	 -fx-padding: 0px 0px 10px 0px;
	 -fx-text-fill: #fff;
	 -fx-font-size:25px;
	 -fx-font-weight:bold;
 }
 
 .boxPadding{
 	-fx-padding: 20px 0px 20px 0px;

 }
 
 #vboxPadding{
	 -fx-padding: 0px 0px 0px 20px;
 }
 
 #buttonRed{
	 -fx-background-color: #bf1304;
	 -fx-text-fill: #fff;
	 -fx-font-weight:bold;
	 -fx-font-size:13px
	 
 }
 
 
 #buttonRed:hover{

    -fx-background-color: 
    -fx-shadow-highlight-color, 
    -fx-outer-border, 
    -fx-inner-border, 
    -fx-body-color;
    -fx-text-fill:#bf1304
    -fx-text-base-color;

}
 
 
.buttonYellow{
	-fx-background-color: #FFE537;
	-fx-text-fill: #fff;
	-fx-font-weight:bold;
	-fx-font-size:13px

}

.buttonYellow:hover{

    -fx-background-color: 
    -fx-shadow-highlight-color, 
    -fx-outer-border, 
    -fx-inner-border, 
    -fx-body-color;
    -fx-text-fill:#FFE537
    -fx-text-base-color;

}

#color{
	 -fx-text-fill: #fff;
	 -fx-font-weight:bold;
	 -fx-font-size:13px

}
#zutaten{

	
	 -fx-padding: 05px 05px 10px 05px;
	 -fx-text-fill: #fff; 
	 -fx-font-size:13px;
	 -fx-font-weight:bold;
 }

